#layout-topbar {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  padding: 0;
  height: 56px;
  width: 100%;
  z-index: 100;
  background: linear-gradient(to right, #409EFF 60%, #3b55e7 100%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  padding:0 20px;
}

#sysLogo{
  width: 250px;
  height: 56px;
  line-height: 56px;
  display: flex;
  align-items: center;
  transition: width 0.3s;
  background: #409EFF;
}

#sysLogo.hide{
  width: 34px;
  justify-content: center;
}

#logoContent{
  width: 188px;
  height: 24px;
  font-size: 16px;
  font-family: DFPZongYiW7;
  color: #fff;
  line-height: 24px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

#logoContent.hide{
 display: none;
}

#logo {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.iconfont{
  position:absolute;
  top:16px;
  left:258px;
  color: #fff;
  font-size: 20px;
  transition: left 0.3s;
}
#rightValue{
  position: fixed;
  right: 20px;
  top: 18px;
  font-size: 16px;
  color: #fff;
}

.iconfont.icon-menu-pack-up{
  left:60px;
}

#sysLogo.hide ~ .iconfont {
  left: 60px;
}
